#library {
    width: 760px;
}

#libraryTable {
    border-spacing: 0;
    width: 100%;
}

th {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: left;
}

.bookStatus {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: 80px;
}

.bookStatus:hover {
    background-color: var(--grey);
    color: var(--white);
    font-weight: 500;
    text-decoration: underline;
}