#library {
    width: 760px;
}

#libraryTable {
    border-spacing: 0;
    width: 100%;
}

th {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: left;
}

.bookStatus {
    cursor: pointer;
    background-color: var(--grey);
    border: 1px solid black;
    border-radius: 3px;
    color: var(--white);
    margin: 0 5px;
    padding: 10px 20px;

    height: auto;
    width: auto;
}