#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

#addBook {
    align-self: flex-end;
}

.addBookBtn {
    box-shadow: 6px 7px 14px -5px rgba(0,0,0,0.75);
    font-size: 14px;
    margin-right: 15px;
}